.menu {
	position: relative;
}

.menu.left .menu-buttons {
	right: 0;
}

.menu-buttons-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.menu-buttons-background.closed {
	display: none;
}

.menu-buttons-background.closed + .menu-buttons {
	max-height: 0;
}

.menu-buttons {
	position: absolute;
	background-color: var(--secondary-background-color);
	box-shadow: 0 0 10px var(--box-shadow-opacity);
	z-index: 2;
	border-radius: 10px;
	color: var(--primary-accent-color);
	width: 200px;
	font-size: 1rem;
	overflow: hidden;
	max-height: 1000px;
	transition: all 0.3s ease-in-out;
}

.drop-list-item {
	gap: 0.5rem;
	align-items: flex-end;
	cursor: default;
}

.drop-list-subtext {
	font-size: 0.9rem;
	color: var(--primary-accent-color);
}

.drop-list-secondary {
	font-size: 0.9rem;
}

.menu-button {
	height: 48px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	color: inherit;
	width: 100%;
	margin: 0;
	background-color: transparent;
	border-radius: 0;
}

.menu-buttons .menu-button:hover {
	background-color: var(--default-background-color-hover);
}

.menu-opener {
	background-color: transparent;
	height: auto;
	margin: 0;
}
