button {
	font-family: inherit;
}

.button {
	background-color: var(--primary-accent-color);
	color: var(--text-on-dark-background);
	border: none;
	border-radius: 10px;
	height: 40px;
	font-weight: 500;
	font-size: 1rem;
	margin: 5px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	padding: 0 20px;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.button svg {
	flex: 1;
}

.button:hover {
	background-color: var(--secondary-hover-color);
}

.button:disabled {
	background-color: var(--secondary-disabled-color);
}

.secondary-button {
	background-color: transparent;
	box-shadow: none;
	color: var(--primary-accent-color);
	font-weight: 600;
	display: inline-flex;
}

.secondary-button:hover {
	background-color: transparent;
	color: var(--main-text-color);
}

.button.small {
	font-size: 13px;
	padding: 5px 16px;
	margin: 3px;
}

.delete-button.flex-box {
	color: var(--alert-text-color);
	background-color: var(--default-background-color);
}

.delete-button.flex-box:hover {
	background-color: var(--default-background-color-hover);
}

.about-hero-button {
	background-color: var(--primary-accent-color);
	font-size: 25px;
	height: 60px;
	border-radius: 5px;
	font-weight: normal;
	margin-right: 15px;
	margin-top: 15px;
}

.change-adventure-type {
	background-color: var(--input-background-color);
	color: var(--main-text-color);
	margin: 0.2em 0;
	display: flex;
	gap: 1em;
	height: 3em;
	width: 15em;
}

.change-adventure-type svg {
	flex: unset;
}

.change-adventure-type:hover {
	background-color: var(--text-on-dark-background);
}
