.adventure-pop-up .mapboxgl-popup-content {
	border-radius: 10px;
	padding: 16px;
}

.popup-field .field-header {
	font-size: 18px;
	color: var(--primary-accent-color);
	margin-bottom: 0;
}

.popup-title.field-header {
	margin: 10px 0 25px 0;
	font-size: 25px;
}

.popup-field .field-value {
	font-size: 16px;
}

.popup-field.flex-box {
	padding: 0;
	margin-bottom: 10px;
}

.adventure-pop-up {
	max-width: 350px !important;
	min-width: 280px !important;
}

.popup-info {
	margin-bottom: 50px;
}

.popup-buttons.action-buttons {
	box-shadow: none;
	padding: 0;
	right: 10px;
	background-color: transparent;
	margin-bottom: 10px;
}

.popup-buttons.action-buttons .button {
	height: 30px;
	padding: 3px 10px;
	border-radius: 3px;
}

.popup-description {
	font-size: 16px;
	margin-bottom: 15px;
}
