.button-bar-button {
	width: 50px;
	height: 50px;
	background-color: var(--default-background-color);
	border-radius: 8px;
	border: none;
	outline: none;
	box-shadow: 0 5px 10px var(--box-shadow-opacity);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	margin-right: 10px;
	padding: 0;
}

.button-bar-button:hover {
	background-color: var(--default-background-color-hover);
}

.button-bar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100% - 80px);
	padding: 10px;
	padding-right: 70px;
	background: linear-gradient(#00000099, transparent);
}

.signup-button,
.login-button {
	width: auto;
	border-radius: 15px;
	height: 30px;
	padding: 0 20px;
	background-color: var(--primary-accent-color);
	font-size: 16px;
	color: var(--text-on-dark-background);
}

.signup-button:hover {
	background-color: var(--primary-accent-color-opacity);
}

.login-button {
	background-color: var(--default-background-color);
	color: var(--main-text-color);
}
