.login-cta {
	width: 200px;
	margin: 5px 0;
	justify-content: center;
}

.forgot-button {
	padding: 0;
	font-size: 1rem;
}

.create-account-cta {
	flex-basis: 100%;
	margin-top: 10px;
	font-size: 14px;
	margin-left: 5px;
	text-align: center;
	width: 25rem;
}

.new-account-button.button {
	font-size: inherit;
	padding: 5px;
	width: auto;
}

.signup-form.flex-box,
.login-form.flex-box {
	margin: 0;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 1.2rem;
}

.login-form {
	margin-bottom: 180px;
}

.signup-form .form-field-container,
.login-form .form-field-container {
	display: flex;
	justify-content: flex-start;
	width: 25rem;
}

.main-login-content,
.main-signup-content {
	max-width: 100%;
	height: auto;
}

.signup-buttons.flex-box {
	box-shadow: none;
	flex-direction: column;
	align-items: center;
}

.signup-buttons .cta-button {
	width: 350px;
	justify-content: center;
}

.signup-header.flex-box {
	align-items: center;
	min-height: 80px;
}

.signup-header .field {
	align-items: center;
}

.reset-form {
	align-items: center;
	flex-direction: column;
}

.reset-form .form-field-container {
	max-width: 400px;
	width: 100%;
}

.reset-buttons {
	flex-direction: column;
}

.reset-buttons .button {
	max-width: 400px;
	width: 100%;
	justify-content: center;
}

@media screen and (max-width: 500px) {
	.signup-form.flex-box,
	.login-form.flex-box {
		gap: 0;
	}

	.signup-form .form-field-container,
	.login-form .form-field-container {
		display: flex;
		justify-content: flex-start;
		width: 100%;
	}

	.create-account-cta {
		width: 100%;
	}
}
