/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap'); */
@import url("https://use.typekit.net/yeo7sxx.css");
@import "./variables.css";

.app-container {
  font-family: 'futura-pt', Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.map-container {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.flex-spacer {
  flex: 1;
}

.flex-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
