mountains/node_modules
mountains/src/Constants.js
mountains/package-lock.json
mountains/build
mountains/src/.DS_Store
mountinas/.DS_Store
mountains/ui-debug.log

data

avys/node_modules
avys/coverage
avys/package-lock.json

.DS_Store
.dispatch.yaml.swp
.env.dev
