.profile-header {
    width: 100%;
    height: 80px;
    background-color: var(--primary-accent-color-opacity);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(8px);
}

.profile-content {
    height: 100%;
    background-color: var(--secondary-background-color);
    backdrop-filter: blur(8px);
}

h1 {
    margin: 0;
    padding: 10px 12px;
    font-size: 25px;
    font-weight: 500;
}

.profile-photo {
    height: 100%;
    width: 80px;
    background-color: #EEE;
}

.gallery-box {
    height: 200px;
    width: 100%;
    padding: 5px 0;
    overflow: hidden;
    display: block;
}

.scroller-container {
    position: absolute;
    white-space: nowrap;
    overflow: auto;
    height: 200px;
}

.gallery-placeholder {
    height: 200px;
    background-color: #EEE;
    margin-right: 5px;
    display: inadventure-block;
}

.stats {
    align-items: flex-start;
    margin-left: 10px;
    width: calc(100% - 60px);
}

.stats .form-field-container {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.stat-field.form-field-static {
    font-size: 25px;
}

.location-field.form-field-static {
    font-size: 12px;
    min-width: 150px;
    align-self: flex-start;
}

.location-field.label-field {
    align-self: flex-start;
}

.tick-list-container {
    margin: 20px 10px;
}

.tick-list-header {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
}

.tick-list {
    margin-top: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.tick {
    font-size: 12px;
}