.field-page {
	width: 100%;
	flex-direction: column;
}

.field.flex-box {
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	padding: 0 0.8rem;
}

.field-row.flex-box {
	width: 100%;
	padding: 1rem 0;
}

.field-row.border-bottom {
	border-bottom: 2px solid var(--border-color);
}

.field.border-right {
	border-right: 2px solid var(--border-color);
}

.field-header {
	font-size: 1.2rem;
	margin: 0;
	margin-bottom: 1rem;
	font-weight: 600;
}

.field-image {
	height: 6rem;
	width: 6rem;
}

.field-image img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 500px) {
	.field-row.flex-box {
		flex-direction: column;
		padding: 0;
	}

	.field-row.border-bottom {
		border-bottom: none;
	}

	.field-row .field {
		border-bottom: 1px solid var(--border-color);
		width: 100%;
		align-items: flex-start;
		padding: 1rem 1.5rem;
	}

	.field.border-right {
		border-right: none;
	}
}
