.map-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mapboxgl-canvas {
	width: 100% !important;
	height: 100% !important;
}

@media screen and (max-width: 500px) {
	.card-open {
		display: none;
	}
}
