.map-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.mapboxgl-canvas {
	width: 100% !important;
	height: 100% !important;
}

@media screen and (max-width: 500px) {
	.card-open {
		display: none;
	}

	.map-container {
		top: 67px;
		bottom: 100vw;
		left: 0;
		right: 0;
	}
}
