/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap'); */
/* @import url("https://use.typekit.net/yeo7sxx.css"); */
@import './variables.css';

.app-container {
	/* font-family: 'Open Sans', Arial, Helvetica, sans-serif; */
	font-family: 'Helvetica Neue', Arial, sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}

.flex-spacer {
	flex: 1;
}

.flex-box {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
