.adventure-search.flex-box {
	flex-direction: column;
	width: 100%;
	align-items: stretch;
	border-bottom: 1px solid var(--seperator-color);
	overflow: hidden;
	overflow-y: auto;
}

.results-container {
	margin: 0;
	padding: 0 0.8rem 1rem;
	list-style-type: none;
	width: 100%;
}

.results-container li {
	padding: 0.4rem 0;
	transition: all 0.3s ease-in-out;
}

.results-container li:hover {
	background-color: var(--text-on-dark-background);
}

.adventure-type-selector {
	margin: 0 1rem;
}

.adventure-search .form-field-container {
	padding: 0;
}

.result-title {
	font-weight: 500;
}

@media screen and (max-width: 500px) {
	.adventure-search .form-field-container {
		padding: 0.8rem;
		padding-bottom: 1rem;
	}

	.adventure-search.flex-box {
		max-height: 20rem;
		padding-bottom: 1.2rem;
		position: relative;
	}

	.results-container li {
		padding: 0.8rem 0;
	}
}
