.alert {
	position: fixed;
	bottom: 30px;
	right: 10px;
	width: 300px;
	min-height: 100px;
	background-color: var(--alert-blue-background);
	border-radius: 10px;
	padding: 15px;
	border: 2px solid var(--alert-blue);
	box-shadow: 0 5px 10px var(--box-shadow-opacity);
	color: var(--alert-blue);
	font-size: 20px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	display: none;
}

.alert.show-alert {
	opacity: 100;
	display: block;
}

.alert.fade-alert {
	display: block;
}
