.alert {
	position: fixed;
	bottom: 30px;
	right: 10px;
	width: 300px;
	min-height: 75px;
	background-color: var(--primary-accent-color);
	border-radius: 15px;
	padding: 15px;
	box-shadow: 0 5px 10px var(--box-shadow-opacity);
	color: var(--default-background-color);
	font-size: 18px;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	display: none;
	line-height: 1.6em;
}

.alert.show-alert {
	opacity: 100;
	display: block;
}

.alert.fade-alert {
	display: block;
}
