.login-cta {
    width: 200px;
    margin: 5px 0;
}

.forgot-button {
    padding: 0;
    font-size: 16px;
}

.create-account-cta {
    flex-basis: 100%;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 5px;
}

.new-account-button {
    font-size: inherit;
    padding: 5px;
}