.main-logo {
  width: 90%;
  max-width: 36rem;
}

.first-page.page {
  flex-direction: column;
  padding: 0 10vw;
  overflow: hidden;
  align-items: flex-start;
  width: 100vw;
}

.hero-text {
  font-size: 2em;
}
