.landing-header {
	padding: 1rem;
	position: relative;
	top: 0;
	background-color: transparent;
	z-index: 1;
	width: 100%;
	background-color: var(--off-background-color);
}

.about-page-panel {
	width: 100%;
	height: 30rem;
}

.hero-panel,
.description-panel {
	padding: 30px;
}

.hero-panel {
	background-color: var(--off-background-color);
	justify-content: space-evenly;
	padding-top: 120px;
}

.hero-text {
	font-size: 60px;
	text-align: right;
}

.hero-image {
	width: 450px;
}

.left-section.flex-box {
	flex-direction: column;
	align-items: flex-end;
}

.description-panel {
	padding-left: 10%;
}

.description-text-box {
	max-width: 800px;
}

.describe-header {
	font-size: 1.75rem;
}

.describe-paragraph {
	font-size: 25px;
	line-height: 1.3em;
}

.invert-color {
	background-color: var(--primary-accent-color);
	color: var(--main-off-white);
}

.landing-header-logo {
	background-color: transparent;
	cursor: auto;
}

.landing-header-logo:hover {
	background-color: transparent;
}

.flipped-align {
	text-align: right;
	padding-left: 0;
	padding-right: 10%;
	width: 100%;
}

.about-footer {
	background-color: #333;
	color: var(--main-off-white);
	padding: 50px;
}

.footer-columns.flex-box {
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
}

.footer-column h3 {
	margin: 0;
	margin-bottom: 20px;
}

.footer-column ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer-column ul a {
	color: inherit;
	line-height: 1.5em;
	font-size: 0.9rem;
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.footer-column ul a:hover {
	border-bottom: 1px solid var(--main-off-white);
}

@media screen and (max-width: 500px) {
	.landing-header {
		padding: 1rem 0.5rem;
		width: 100%;
	}

	.landing-header .mobile-button:hover {
		background-color: var(--off-background-color);
	}

	.hero-panel {
		padding-left: 0;
	}

	.about-page-panel {
		padding: 1.5rem;
		height: 100vh;
	}

	.left-section.flex-box {
		align-items: flex-start;
	}

	.hero-text {
		font-size: 2rem;
		text-align: left;
		padding: 0;
		padding-bottom: 1rem;
	}

	.about-hero-button {
		margin: 0;
		font-size: 1.25rem;
		height: auto;
		padding: 1.25ch;
	}

	.describe-paragraph {
		font-size: 1.25rem;
	}

	.about-footer {
		padding: 1rem;
	}

	.footer-columns.flex-box {
		flex-direction: column;
	}

	.footer-columns h3 {
		display: none;
	}
}
