button {
    font-family: inherit;
}

.button {
    background-color: var(--secondary-accent-color);
    color: var(--text-on-dark-background);
    border: none;
    border-radius: 22px;
    height: 35px;
    font-weight: 500;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding: 0 20px;
  }

  .button svg {
    flex: 1;
  }
  
  .button:hover {
    background-color: var(--secondary-hover-color);
  }
  
  .button:disabled {
    background-color: var(--secondary-disabled-color);
  }
  
  .secondary-button {
    background-color: transparent;
    box-shadow: none;
    color: var(--secondary-accent-color);
    font-weight: 600;
    display: inline-flex;
  }
  
  .secondary-button:hover {
    background-color: transparent;
    color: var(--main-text-color);
  }

  .button.small {
    font-size: 13px;
    padding: 5px 16px;
    margin: 3px;
  }