button {
    font-family: inherit;
}

.button {
    background-color: var(--secondary-accent-color);
    color: var(--text-on-dark-background);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: var(--secondary-hover-color);
  }
  
  .button:disabled {
    background-color: var(--secondary-disabled-color);
  }
  
  .secondary-button {
    background-color: transparent;
    box-shadow: none;
    color: var(--secondary-accent-color);
    font-weight: 600;
  }
  
  .secondary-button:hover {
    background-color: transparent;
    color: var(--main-text-color);
  }