@import url('../variables.css');
@import url('../App.css');
@import url('../Reusable/styles.css');

.header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid var(--border-color);
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: var(--main-light);
  width: 100vw;
}

.sp-logo {
  width: 3rem;
}
