.mobile-button {
	display: block;
	height: auto;
	margin: 0;
	align-self: stretch;
	border-radius: 0;
	background-color: transparent;
	padding: 0 0.5rem;
	outline: none;
}

.mobile-button:hover {
	background-color: transparent;
}

.mobile-menu-drop {
	width: 100vw;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	position: fixed;
	height: 20rem;
	bottom: -18rem;
	left: 0;
	border-radius: 1rem 1rem 0 0;
	background-color: var(--off-background-color);
	box-shadow: -5px 0 10px var(--box-shadow-opacity);
	flex-direction: column;
}

.mobile-menu-drop .mobile-menu-button {
	width: 100%;
	padding: 1rem 2rem;
	color: var(--main-text-color);
	font-weight: 500;
	background-color: transparent;
}

.mobile-menu-drop.open {
	bottom: 0;
	overflow: auto;
}

.mobile-menu-header {
	width: 100%;
	background: var(--header-gradient);
	height: 2rem;
	justify-content: center;
	align-items: flex-start;
	padding: 0.5rem 0;
}

.mobile-menu-header .open-icon {
	width: 4rem;
	height: 0.4rem;
	background-color: var(--input-background-color);
	border-radius: 0.2rem;
}

.mobile-menu-drop.left.open {
	right: 25vw;
	left: auto;
}

.mobile-menu-background {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--dim-background);
}

.mobile-menu-background.open {
	display: block;
}

@media screen and (min-width: 500px) {
	.mobile-menu {
		display: none;
	}
}
