.display-card {
    margin: 10px;
    height: calc(100vh - 60px);
    min-width: 500px;
    max-width: calc(100vh - 40px);
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    transition: opacity var(--card-opening-speed) ease-in-out, width var(--card-opening-speed) ease-in-out;
    pointer-events: auto;
    opacity: 1;
    position: relative;
}

.display-card-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    pointer-events: none;
}

.display-card-container.center {
    justify-content: center;
    align-items: center;
}

.display-card-container.center .display-card {
    height: auto;
    margin-bottom: 500px;
}

.display-card.closing, .display-card.opening {
    min-width: 0;
    width: 50px;
    opacity: 0;
}

.display-header {
    height: 50px;
    width: 100%;
    left: 0;
    display: flex;
    background-color: #FFFFFF22;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.display-header-spacer {
    flex: 1;
}

.display-back-button {
    border: none;
    padding: 0;
    border-radius: 0;
    color: var(--secondary-background-color);
    width: 50px;
    height: 50px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0;
}

.display-back-button svg {
    padding-right: 10px;
    transition: all 0.2s ease-in-out;
    color: inherit;
}

.display-card.open .display-back-button svg {
    transform: rotate(-180deg);
}

.display-card.closing .display-back-button svg {
    transform: rotate(0deg);
}

.display-back-button:hover {
    background-color: #EEE2;
}

.display-content {
    flex: 1;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.action-buttons.flex-box {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.action-buttons .button {
    display: inline-flex;
}

.action-buttons.cta-buttons {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5px;
}

.profile-content {
    height: calc(100% - 90px);
    background-color: var(--secondary-background-color);
    backdrop-filter: blur(8px);
    padding-bottom: 10px;
    overflow: auto;
    overscroll-behavior: none;
}

.profile-header {
    width: 100%;
    height: 80px;
    padding-top: 50px;
    background: var(--header-gradient);
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(8px);
    align-items: center;
    color: var(--text-on-dark-background);
}

.profile-header.centered {
    justify-content: center;
}

h3.label-field {
    height: 1em;
    margin: 0;
}