h1 {
	margin: 0;
	padding: 10px 12px;
	font-size: 25px;
	font-weight: 500;
}

.profile-photo {
	height: 100%;
	width: 80px;
	background-color: #eee;
}

.scroller-container.flex-box {
	height: 300px;
	width: calc(100%);
	overflow-x: auto;
	overflow-y: hidden;
	margin-top: 10px;
}

.scroller-container img {
	height: 100%;
	cursor: pointer;
	margin-right: 10px;
}

.file-upload-container.flex-box {
	border: 2px dashed #ccc;
	height: calc(100% - 10px);
	margin: 6px 12px;
	cursor: pointer;
	width: 200px;
	min-width: 200px;
	justify-content: center;
	border-radius: 5px;
}

.file-upload-container .image-input {
	display: none;
}

.stats.flex-box {
	align-items: flex-start;
	margin: 20px 5px;
}

.stat-field {
	font-size: 40px;
	line-height: 0.7em;
	margin: 0;
	color: var(--secondary-accent-color);
}

.stats .form-field-container {
	min-width: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-end;
}

.stat-template.flex-box {
	flex: none;
	min-width: 100px;
}

.stat-field.form-field-static {
	font-size: 25px;
}

.location-field.form-field-static {
	font-size: 12px;
	min-width: 150px;
	align-self: flex-start;
}

.location-field.label-field {
	align-self: flex-start;
}

.user-adventure-viewer.flex-box {
	align-items: flex-start;
}

.tick-list-container.flex-box {
	margin: 10px;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
}

.tick-list.flex-box {
	flex-direction: column;
	font-size: 16px;
	align-items: flex-start;
	margin-top: 16px;
}

.tick-list-header {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
}

.tick {
	padding: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	width: 100%;
	border-bottom: 1px solid var(--input-border-color);
	border-left: none;
}

.tick:hover {
	background-color: var(--text-on-dark-background);
}

.main-user-content {
	width: 800px;
	padding: 0 10px;
}

.profile-image-uploader.flex-box {
	margin-bottom: 50px;
	flex-direction: column;
	align-items: flex-start;
}

.profile-photo-handlers {
	position: relative;
	margin: 50px 0;
}

.profile-header.image-header {
	height: 100px;
}

.profile-image-upload.file-upload-container.flex-box,
.profile-picture,
.image-input-background {
	width: 150px;
	height: 150px;
	background-color: #ccc;
	border-radius: 5px;
	cursor: pointer;
	margin: 0;
	min-width: 0;
	position: absolute;
	border: none;
}

.overlay-upload-button.flex-box {
	border: none;
	height: 150px;
	width: 150px;
	min-width: 150px;
	position: absolute;
	margin: 0;
}

.upload-photo-button-container.flex-box {
	margin-left: 170px;
	flex-direction: column;
	align-items: flex-start;
}

.user-bio {
	margin: 10px 15px;
}
