h1 {
    margin: 0;
    padding: 10px 12px;
    font-size: 25px;
    font-weight: 500;
}

.profile-photo {
    height: 100%;
    width: 80px;
    background-color: #EEE;
}

.scroller-container.flex-box {
    position: relative;
    display: inline-flex;
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 30px);
    margin: 10px;
}

.scroller-container img {
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
}

.file-upload-container.flex-box {
    border: 2px dashed #CCC;
    height: calc(100% - 10px);
    margin: 6px 12px;
    cursor: pointer;
    width: 200px;
    justify-content: center;
    border-radius: 5px;
}

.file-upload-container .image-input {
    display: none;
}

.stats.flex-box {
    align-items: flex-start;
    margin-left: 10px;
    width: calc(100% - 60px);
}

.stats .form-field-container {
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.stat-field.form-field-static {
    font-size: 25px;
}

.location-field.form-field-static {
    font-size: 12px;
    min-width: 150px;
    align-self: flex-start;
}

.location-field.label-field {
    align-self: flex-start;
}

.tick-list-container {
    margin: 20px 10px;
}

.tick-list-header {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

.tick-list {
    margin-top: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.tick {
    font-size: 12px;
}