.content-container h1 {
	padding: 0;
	font-size: 2rem;
}

.content-container .updated-date {
	color: var(--main-off-dark);
	font-size: 0.9rem;
}

.content-container .header-block {
	margin: 5rem 0;
}

.content-container section {
	margin: 3rem 0;
}
